# Define the entry point for your project
entrypoint = "bot.py"

# Configure deployment settings
[deployment]
run = ["python3", "bot.py"]

# Specify environment variables (replace with your actual values)
[run.env]
BOT_TOKEN = "7620991709:AAEaPfZWjauYBN5zU1d64RYiwqPPiM-3gjA"
API_ID = "28519661"
API_HASH = "d47c74c8a596fd3048955b322304109d"

# Optionally, you can define dependencies (if needed) for your project
[tool.poetry.dependencies]
python = "^3.9"  # Use appropriate Python version based on your environment

# External dependencies
pyrogram = "^2.0.106"
yt-dlp = "^2023.01.06"
